--color
--format documentation
--require spec_helper
https://learn.co/tracks/online-software-engineering-ft-first-mile/procedural-ruby/logic-and-conditionals/ternary-operators-and-statement-modifiers#